<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094475099023-uqnk3bhar13jnb6lmktde50alut2lm5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094475099023-uqnk3bhar13jnb6lmktde50alut2lm5i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1094475099023-a6psnjhi366i2fnpkl9jtc223kc40lvo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBvyledQcUYd4JNmlI0INwoOUGWpkhXkAM</string>
	<key>GCM_SENDER_ID</key>
	<string>1094475099023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nephrogo</string>
	<key>PROJECT_ID</key>
	<string>nephrogo</string>
	<key>STORAGE_BUCKET</key>
	<string>nephrogo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094475099023:ios:655d428cb3a9477807b9fa</string>
	<key>DATABASE_URL</key>
	<string>https://nephrogo.firebaseio.com</string>
</dict>
</plist>