name: NephroGo iOS CI
on:
  pull_request:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'

jobs:
  build_ios:
    name: Build iOS NephroGo
    runs-on: macos-10.15
    timeout-minutes: 45

    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0

      - name: Set build number
        run: echo "BUILD_NUMBER=$(git rev-list --count HEAD)" >> $GITHUB_ENV

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'

      - uses: maierj/fastlane-action@v2.1.0
        with:
          lane: 'prepare_ci'
          subdirectory: 'ios'
          bundle-install-path: 'vendor/bundle'
        env:
          MATCH_PASSWORD: ${{ secrets.IOS_MATCH_PASSWORD }}
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          MATCH_GIT_BASIC_AUTHORIZATION: ${{ secrets.IOS_MATCH_GIT_BASIC_AUTHORIZATION_BASE_64 }}


      - uses: subosito/flutter-action@v1
        with:
          channel: 'stable'

      - run: dart --version
      - run: flutter --version

      - run: flutter pub get

      - run: flutter analyze

      - run: flutter test

      - run: flutter build ipa --release --build-number ${{ env.BUILD_NUMBER }}

