name: NephroGo iOS Production
on:
  push:
    tags:
      - '*'

jobs:
  release_ios:
    name: Release iOS NephroGo
    runs-on: macos-10.15
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0

      - name: Set build number
        run: echo "BUILD_NUMBER=$(git rev-list --count HEAD)" >> $GITHUB_ENV

      - name: Set env from tag
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Version
        run: echo ${{ env.RELEASE_VERSION }}

      - name: Build number
        run: echo ${{ env.BUILD_NUMBER }}

      - run: echo $IOS_APPSTORE_API_KEY_JSON > ios/fastlane/app-store-key.json
        name: Create AppStore connect API key json for Fastlane
        env:
          IOS_APPSTORE_API_KEY_JSON: ${{ secrets.IOS_APPSTORE_API_KEY_JSON }}

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'

      - uses: maierj/fastlane-action@v2.1.0
        with:
          lane: 'prepare_ci'
          subdirectory: 'ios'
          bundle-install-path: 'vendor/bundle'
        env:
          MATCH_PASSWORD: ${{ secrets.IOS_MATCH_PASSWORD }}
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          MATCH_GIT_BASIC_AUTHORIZATION: ${{ secrets.IOS_MATCH_GIT_BASIC_AUTHORIZATION_BASE_64 }}


      - uses: subosito/flutter-action@v1
        with:
          channel: 'stable'

      - run: dart --version
      - run: flutter --version

      - run: flutter pub get

      - run: flutter analyze

      - run: flutter test

      - run: flutter build ipa --release --build-number ${{ env.BUILD_NUMBER }} --build-name ${{ env.RELEASE_VERSION }}

      - uses: maierj/fastlane-action@v2.1.0
        with:
          lane: 'release'
          subdirectory: 'ios'
          bundle-install-path: 'vendor/bundle'
        env:
          MATCH_PASSWORD: ${{ secrets.IOS_MATCH_PASSWORD }}
          MATCH_GIT_BASIC_AUTHORIZATION: ${{ secrets.IOS_MATCH_GIT_BASIC_AUTHORIZATION_BASE_64 }}
